{% extends "shared/base.html" %}
{% block link %}{% endblock %}

{% block body %}
<header class="jumbotron">
    <div class="container">
        <h1 class="display-4">個股資訊查詢網站</h1>
        <p class="lead">點選以下卡片觀看詳情</p>
    </div>
</header>
<section>
    <!-- add div <div class="container"> by entering '.container' -->
    <div class="container">
        <div class="row">
            {% for code, name in stock_dict_customized.items() %}
            <!-- md: 中型裝置, 12/4=3 grid -->
            <!-- https://getbootstrap.com/docs/4.6/layout/grid/ -->
            <div class="col-md-3 col-6">
                <!-- bootstrap4快捷鍵: 'b4-card-default' -->
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/300?random={{ code }}" alt="">
                    <!-- <img class="card-img-top" src="{{url_for('static', filename='/images/'+code+'.jpg')}}" alt=""> -->
                    <!-- <img class="card-img-top" src="/static/images/{{ code }}.jpg" alt=""> -->
                    <div class="card-body">
                        <h4 class="card-title">{{ code }}</h4>
                        <p class="card-text">{{ name }}</p>
                        <!-- a.btn.btn-primary -->
                        <a href="/stock/{{ code }}" class="btn btn-primary">觀看詳情</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block script1 %}{% endblock %}
{% block script2 %}{% endblock %}