{% extends "shared/base.html" %}

{% block body %}
<section>
    <div class="container">
        <h1>設定</h1>

        <form action="/setting_save" method="post">
            <div class="form-group">
                <label for="stockCustomizedInput">輸入股票代號：</label>
                <input type="text" class="form-control" id="stockCustomizedInput" name="stockCustomizedInput"
                    placeholder="ex: 0050 0051 0052" value="{{ stock_str_customized }}" required>
                <small class="form-text text-muted"><span class="badge badge-info">Info</span>
                    如有多檔股票，代號間請使用「空格」作為區隔，請「勿」使用其他符號，以利程式自動判讀，感謝！</small>
                <small class="form-text text-muted"><span class="badge badge-info">Info</span>
                    敬請輸入「正確的」代號；若輸入錯誤代號，系統將自動忽略不計。</small>
            </div>
            <button type="submit" class="btn btn-primary">儲存</button>
        </form>
        <br>

        <a href="/" class="btn btn-primary">回到首頁</a>
    </div>
</section>
{% endblock %}